/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100vw;
    height: 100vh;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrap {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(90deg, #FFEDF7 65%, #003164 35%);
    display: flex;

}

.content {
    width: 45%;
    background-color: #FFEDF7;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
}

.text {
    display: flex;
    width: 445px;
    height: 45px;
    position: relative;
    margin-top: 48px;

}


.textbox {
    border: 0px;
    width: 445px;
    background-color: #FFF;
    padding-left: 16px;
    font-size: 18px;
    color: #003164;

}

.textbox::placeholder {
    color: #FF4384;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
    font-weight: bold;
    font-style: italic;
    padding-top: 19px;
    padding-bottom: 18px;
}

.text i {
    width: 20px;
    height: 20px;
    color: #FF4384;
    font-weight: bold;
    position: absolute;
    right: 16px;
    top: 12px;
    cursor: pointer;

}

.tittle {
    height: 48px;
    position: relative;
    display: flex;
}

.circle_m {
    width: 44px;
    height: 44px;
    border: 2px solid;
    border-radius: 50%;
    border-color: #003164;
    margin-top: 100px;
    cursor: pointer;

}

.txt {
    font-size: 23px;
    font-weight: bold;
    padding-left: 16px;
    text-transform: uppercase;
    color: #003164;
    margin-top: 100px;

}

.tomatoes {
    display: flex;
    position: absolute;
    left: 60px;
}

.circle_s {

    width: 10px;
    height: 10px;
    border: 1px solid;
    border-color: #FF4384;
    border-radius: 50%;
    margin-top: 133px;
    margin-left: 5px;
}



.clock {
    display: flex;
    margin-top: 120px;
}

.time {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 160px;
    color: #FF4384;
    font-weight: 600;


}

.todolist {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.ul li {
    display: flex;
    width: 445px;
    border-bottom: #D3D3D3 2px solid;
    color: #003164;
    justify-content: space-between;
}

.ul_ontainer {
    display: flex;
    width: 90%;
    justify-content: flex-start;
    position: relative;
}

.ul_ontainer p {
    padding-top: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    cursor: pointer;
}


.ul_ontainer input {
    position: absolute;
    left: 0;
    top: 0;
    width: 95%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}



.checkmark {
    position: relative;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid;
    margin-right: 4px;
    margin-top: 12px;
    cursor: pointer;
}

.smallPlay {
    justify-self: flex-end;
    align-self: center;
}

.smallPlay i {
    font-size: 27px;
    cursor: pointer;
}



.more {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-self: flex-end;
    font-size: 16px;
    color: #FF4384;
    font-weight: bold;
    font-weight: 900;
    margin-left: 395px;
    margin-top: 5px;

}



.ul_ontainer input:checked~.checkmark {
    background-color: #002852;


}

.ul_ontainer input:checked~.checkmark::before {
    content: "";
    height: 7px;
    width: 14px;
    border: 3px solid #fff;
    transform: rotate(-45deg);
    position: absolute;
    top: 2px;
    border-top: none;
    border-right: none;
}


.circle_content {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-self: center;
}



.circle_border {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
    width: 480px;
    border-radius: 50%;
    border: 4px solid;
    border-color: #FF4384;

}

.circle {

    height: 460px;
    width: 460px;
    border-radius: 50%;
    background-color: #FF4384;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}


.circle i {

    font-size: 96px;
    color: #FFF;
    width: 96px;
    overflow: hidden;
    cursor: pointer;
}

.bgWhite {
    background-color: #FFF;
    border: 4px solid #FF4384;
}

.show {
    display: block;
}



.hide {
    display: none;

}

.square {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 258px;
    right: 175px;
    background-color: #FFF;

}

.section {

    width: 20%;
    display: flex;
    justify-content: center;

}

.section li {
    margin-top: 48px;
}

.section i {
    font-size: 36px;
    color: #FFF;
}

.section p {
    font-family: Futura;
    color: #FFF;
    font-weight: 900;
    font-size: 24px;
    writing-mode: vertical-lr;
    margin-top: 240px;
}